body
{
    color: blue;
    text-align: left;
    font-size: 16px;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33A;
    font-weight: bold;
    color: #fff;
    padding: 0.5em;
    margin: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}